{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="http://www.w3ii.com/lib/w3.css">
        <title>H.moon craft-made jewel</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            {% if user.is_authenticated %}
                <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <a href="/"><h2>H.mo on</h2></a>
            <ul class="nav nav-pills" style="display: table; margin: auto; padding:0;">
              <li><a href="/">About Us</a></li>
              <li><a href="{% url 'look_book_list_16ss' %}">Look Book</a></li>
              <li><a href="/">Online Shop</a></li>
              <li><a href="/">Contact</a></li>
            </ul>
        </nav>   
        {% block content %}
        {% endblock %}
        <div>
        <small>각종 사업자 등록 번호 및 연락처를 넣을 예정</small>
        </div>
    </body>
</html>