.page-header {
    background-color: #e8e3dc;
    margin-top: 0;
    padding: 10px 10px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 200px;
}

.content_side_menu {
   float: left;
}

.content_padding {
    padding: 100px 10px 10px 10px;
}

h1, h2, h3, h4 {
    font-family: "맑은 고딕", serif;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 20pt;
    margin-right: 20px;
}

.top-menu-select{
	color: #ffffff;
    font-size: 20pt;
    margin-top: 45px;
    text-align: center;
}

.post {
    margin-bottom: 5px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}

